html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header -- begin */
.header {
    z-index: 1;
    background-color: #2457af;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    margin: 15px auto 0 auto;
    width: 90%;
}

.header a,
.header a:hover {
    color: white;
    text-decoration: none;
}

.header .row {
    margin: 10px 0;
}

.header h1 {
    display: inline;
}

.header ul {
    margin-top: 10px;
    list-style: none;
    display: inline-block;
}

.header li {
    display: inline;
    padding: 0 15px;
}
/* header -- end */

/* jumbotron -- begin */
.jumbotron {
    height: 800px;
    background-image: url("../img/jumbotron2.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    margin: 0
}

.jumbotron .container {
    margin-top: 100px;
}

.jumbotron .form-inline {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.jumbotron .form-inline .form-control {
    color: white;
    width: 300px;
    height: 45px;
    font-size: 24px;
    border-style: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.7);
}

.jumbotron .form-inline .btn-default {
    height: 45px;
    width: 75px;
    background-color: #2457af;
    border-radius: 0;
    border-style: none;
    color: white;
}

.jumbotron .form-inline a {
    margin-top: 10px;
    color: white;
    display: block;
    letter-spacing: 2px;
}
/* jumbotron -- end */

/* supporting1 -- begin */

.supporting1 {
    margin-bottom: 100px;
    text-align: center;
}

.supporting1 .container {
    max-width: 970px;
}

.supporting1 h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.supporting1 p {
    font-size: 16px;
}

/* supporting1 -- end */

/* feature1 -- begin */
.feature1 {
    background-image: url("../img/tryfan-4.jpg");
    background-size: cover;
    background-position: left bottom;
    width: auto;
    height: 450px;
}
/* feature1 -- end */

/* supporting2 -- begin */
.supporting2 {
    text-align:center;
    margin-bottom: 100px;
}

.supporting2 .container {
    max-width: 970px;
}

.supporting2 h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.supporting2 p {
    font-size: 16px;
}
/* supporting2 -- end */

/* browse -- begin */
.feature2 {
    background-image: url("../img/cory_highline.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 600px;
    position: relative;
}

.feature2 .btn-default {
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 15px;
}
/* browse -- end */
