html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* jumbotron -- begin */
.jumbotron {
    height: 800px;
    background-image: url("../img/jumbotron2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    margin: 0
}

.jumbotron .container {
    margin-top: 100px;
}

.jumbotron .form-inline {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.jumbotron .form-inline .form-control {
    color: white;
    max-width: 300px;
    width: 100%;
    height: 45px;
    font-size: 24px;
    border-style: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.7);
}

.jumbotron .form-inline .btn-default {
    height: 45px;
    max-width: 75px;
    width: 100%;
    background-color: #2457af;
    border-radius: 0;
    border-style: none;
    color: white;
}

.jumbotron .form-inline a {
    margin-top: 10px;
    color: white;
    display: block;
    letter-spacing: 2px;
}

.jumbotron .form-inline .btn-default{
    display: inline;
    padding: 13px 25px;
}
/* jumbotron -- end */

/* supporting1 -- begin */

.supporting1 {
    margin-bottom: 100px;
    text-align: center;
}

.supporting1 .container {
    max-width: 970px;
}

.supporting1 h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.supporting1 p {
    font-size: 16px;
}

/* supporting1 -- end */

/* feature1 -- begin */
.feature1 {
    background-image: url("../img/tryfan-4.jpg");
    background-size: cover;
    width: 100%;
    height: 450px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* feature1 -- end */

/* supporting2 -- begin */
.supporting2 {
    text-align:center;
    margin-bottom: 100px;
}

.supporting2 .container {
    max-width: 970px;
}

.supporting2 h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.supporting2 p {
    font-size: 16px;
}
/* supporting2 -- end */

/* browse -- begin */
.feature2 {
    background-image: url("../img/cory_highline.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;
}

.feature2 .btn-default {
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0;
    top: 35%;
    left: 25%;
    margin-left: 25px;
    transform: translate(-50%, -50%);
    padding: 15px;
}
/* browse -- end */

@media screen and (max-width: 760px) {
    .feature2 {
        height: 300px;
        background-position: top right;
    }

    .feature1 {
        height: 300px;
        background-position: top left;
    }

    .jumbotron .form-inline .btn-default {
        display: none;
    }
}
