html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

body {
    background-color: #2457af;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header -- begin */
.navbar-default {
    z-index: 1;
    background-color: #2457af;
    border-radius: 0;
    border-style: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    padding: 10px 30px;
}

.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover {
    color: white;
    text-decoration: none;
    font-size: 36px;
    margin-right: 50px;
}

.navbar-default .form-control {
    background-color: rgba(0,0,0,0.7);
    border-style: none;
    border-radius: 0;
    font-size: 16px;
    color: white;
    display: inline;
}

.navbar-default .btn-default {
    border-radius: 0;
    display: inline;
    background-color: rgba(0,0,0,0);
    color: white;
}

.navbar-default .navbar-nav {
    list-style: none;
    display: inline-block;
}

.navbar-default .navbar-nav li {
    display: inline;
    padding: 0 10px;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: white;
    text-decoration: underline;
}
/* header -- end */

/* main -- begin */
.main {
    background-image: url("../img/login.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 700px;
}

.main h1 {
    padding: 0 30px 10px 30px;
    display: inline-block;
    margin-top: 200px;
    border-bottom: 3px solid black;
    text-transform: uppercase;
}

.main form {
    width: 40%;
    margin: 30px auto 0 auto;
    text-align: left;
    margin-bottom: 200px;
}

.main label {
    font-size: 18px;
}

.main .form-control {
    border-radius: 0;
    font-size: 16px;
    height: 40px;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.main .btn-default {
    padding: 10px 15px;
    border-radius: 0;
}
/* main -- end */

/* footer -- begin */
.footer {
    background-color: #2457af;
    color: white;
}

.footer .ftable {
    width: 100%;
    margin: 25px 0;
}
/* footer -- end */

@media screen and (max-width: 760px) {
    .main {
        height: 600px;
    }

    .main form {
        width: 100%;
    }
}
